* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(47, 0, 255);
}

.container{
    position: relative;
    width: 600px;
    height: 400px;
cursor: pointer;
    overflow: hidden;
    
}
.container::before{
content: '';
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
border: 2px solid white;
    border-radius: 20px;
transition: .4s;
opacity: 0;
}
.container:hover::before{
scale: .9;
opacity: 1;
z-index: 1;
}
.container::after{
content: '';
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
scale: .9;
background: rgba(0, 0, 0, 0.477);
transition: .4s;
opacity: 0;
    border-radius: 20px;
z-index: 0;
}
.container:hover::before{
scale: .9;
opacity: 1;
}
.container:hover::after{
scale: 1;
opacity: 1;
}
.container img{
    border-radius: 20px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.container h2{
    font-size: 3em;
    color: white;
    width: 100%;
    position: absolute;
    top: 30%;
    text-align: center;
    opacity: 0;
    scale: .9;
transition: .4s;
z-index: 1;

}
.container p{
    padding: 0 40px;
    font-size: 1em;
    color: white;
    width: 100%;
    position: absolute;
    top: 50%;
    text-align: center;
    opacity: 0;
transition: .4s;
z-index: 1;
transform: translateY(30px);

}
.container:hover h2{
    scale: 1;
opacity: 1;
}
.container:hover p{
transform: translateY(0px);

opacity: 1;
}
